<!DOCTYPE html>
<html lang="en">
<head>
    <title>Steam Profiles - Steam Achievement Tracker</title>
    <meta charset="UTF-8">
    <meta name="Description" content = "Track your Steam Achievements.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/achievements.css">
</head>
<body>
    <div class="header">
        <h1><a href="/">Steam Profiles</a></h1>
    </div>
    <div class="user-header">
        <div class="avatar">
            <img src="<%= profile.avatar %>" alt="" height="90" width="90"> 
        </div>
        <div class="username">
            <span><%= profile.nickname %></span>
            <div class="title">
                <span><%= game.gameName %></span>
            </div>
            <div class="progress">
                <span><%= game.progress %></span>
            </div>
            <div class="playtime">
                <span><%= game.playTime %></span>
            </div>
        </div>
      </div>

    <div class="game-header">
            <div class="logo">
                <img src="<%= game.logo %>" alt="" height="72" width="184"> 
            </div>
            <div class="progress-bar">
                <span><%= game.progressPercentage %></span>
                <div class="bar" style="width: <%= game.progressPercentage %>"></div>
            </div>
        </div>

        <table class="achievements-table">
            <tbody>
                <% for(var i=0; i<game.achievements.length; i++) {%>
                    <tr class="achievement-row">
                        <td class="achievement-image">
                            <% if (game.achievements[i].achieved === true) { %>
                            <img src="<%= achievementData.availableGameStats.achievements[i].icon %>" alt="" height="64" width="64"> 
                            <% } else { %>
                                <img src="<%= achievementData.availableGameStats.achievements[i].icongray %>" alt="" height="64" width="64"> 
                            <% } %>
                        </td>
                        <td class="achievement-details">
                            <div class="name">
                            <%= game.achievements[i].name %>
                            </div>
                            <div class="description">
                            <%= game.achievements[i].description %>
                            </div>
                        </td>
                        <td class="timestamp">
                            <% if (game.achievements[i].achieved === true) { %>
                            <div class="date">
                            <%= moment.unix(game.achievements[i].unlockTime).format('ddd, Do MMM YYYY') %>
                            </div>
                            <div class="time">
                            <%= moment.unix(game.achievements[i].unlockTime).format('HH:mm:ss A') %>
                            </div>
                            <% } %>
                        </td>
                        <td class="global-stats">
                            <div class="percentage">
                            <%= achievementData.availableGameStats.achievements[i].percentage %>
                            </div>
                            <div class="rarity">
                            <%= achievementData.availableGameStats.achievements[i].rarity %>
                            </div>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
</body>

<footer>
    <div class="footer">
                <div class="disclaimer">
                    <p>Steam Profiles is not affiliated with Valve in any way
                        <br>
                    © 2020 George Ashton</p>
               
                </div>
                <div class="links">
                    <a class="contact-us" href="mailto:contact@123.com">Contact Us</a>
                    <bullet>•</bullet>
                    <a class="terms" href="terms.html">Terms & Conditions</a>
                    <bullet>•</bullet>
                    <a class="privacy" href="privacy.html">Privacy Policy</a>
                </div>
        </div>
</footer>
</html>