<!DOCTYPE html>
<html lang="en">
<head>
    <title>Steam Profiles - Steam Achievement Tracker</title>
    <meta charset="UTF-8">
    <meta name="Description" content = "Track your Steam Achievements.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/achievements.css">
</head>
<body>
    <div class="user-achievements">
        <table id="achievementsTable">
            <tbody>
                <% for(var i=0; i<game.achievements.length; i++) {%>
                    <tr class="achievement">
                        <td>
                            <a href="temp">
                            <% if (game.achievements[i].achieved === true) { %>
                            <img src="<%= achievementData.availableGameStats.achievements[i].icon %>" alt="" height="64" width="64"> 
                            <% } else { %>
                                <img src="<%= achievementData.availableGameStats.achievements[i].icongray %>" alt="" height="64" width="64"> 
                            <% } %>
                             </a>
                        </td>
                        <td>
                            <a class="name" href="temp">
                            <%= game.achievements[i].name %>
                            </a>
                            <br>
                            <div class="description">
                            <%= game.achievements[i].description %>
                            </div>
                        </td>
                        <td style="padding-left: 100px; padding-right: 20px;">
                            <% if (game.achievements[i].achieved === true) { %>
                            <div class="date">
                            <%= moment.unix(game.achievements[i].unlockTime).format('ddd, Do MMM YYYY') %>
                            </div>
                            <div class="time">
                            <%= moment.unix(game.achievements[i].unlockTime).format('HH:mm:ss A') %>
                            </div>
                            <% } %>
                        </td>
                        <td>
                            <div class="percentage">
                            <%= achievementData.availableGameStats.achievements[i].percentage %>
                            </div>
                            <div class="rarity">
                            <%= achievementData.availableGameStats.achievements[i].rarity %>
                            </div>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        </div>
        </div>
    </div>
</body>
</html>