<!DOCTYPE html>
<html lang="en">
<head>
    <title>Steam Profiles - Steam Achievement Tracker</title>
    <meta charset="UTF-8">
    <meta name="Description" content = "Track your Steam Achievements.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/achievements.css">
</head>
<body>
    <div class="header">
        <h1>Steam Profiles</h1>
    </div>
    <div class="user-header">
        <div class="avatar">
            <img src="<%= profile.avatar %>" alt="" height="90" width="90"> 
        </div>
        <div class="username">
            <span><%= profile.nickname %></span>
            <div class="title">
                <span><%= game.gameName %></span>
            </div>
            <div class="progress">
                <span><%= game.progress %></span>
            </div>
            <div class="playtime">
                <span><%= game.playTime %></span>
            </div>
        </div>
      </div>

    <div class="game-header">
            <div class="logo">
                <img src="<%= game.logo %>" alt="" height="72" width="184"> 
            </div>
            <div class="progress-bar">
                <span><%= game.progressPercentage %></span>
                <div class="bar" style="width: <%= game.progressPercentage %>"></div>
            </div>
        </div>

    <div class="user-achievements">
        <table class="achievements-table">
            <tbody>
                <% for(var i=0; i<game.achievements.length; i++) {%>
                    <tr class="achievement">
                        <td>
                            <% if (game.achievements[i].achieved === true) { %>
                            <img src="<%= achievementData.availableGameStats.achievements[i].icon %>" alt="" height="64" width="64"> 
                            <% } else { %>
                                <img src="<%= achievementData.availableGameStats.achievements[i].icongray %>" alt="" height="64" width="64"> 
                            <% } %>
                        </td>
                        <td>
                            <div class="name">
                            <%= game.achievements[i].name %>
                            </div>
                            <div class="description">
                            <%= game.achievements[i].description %>
                            </div>
                        </td>
                        <td style="padding-left: 100px; padding-right: 20px;">
                            <% if (game.achievements[i].achieved === true) { %>
                            <div class="date">
                            <%= moment.unix(game.achievements[i].unlockTime).format('ddd, Do MMM YYYY') %>
                            </div>
                            <div class="time">
                            <%= moment.unix(game.achievements[i].unlockTime).format('HH:mm:ss A') %>
                            </div>
                            <% } %>
                        </td>
                        <td>
                            <div class="percentage">
                            <%= achievementData.availableGameStats.achievements[i].percentage %>
                            </div>
                            <div class="rarity">
                            <%= achievementData.availableGameStats.achievements[i].rarity %>
                            </div>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>