<!DOCTYPE html>
<html lang="en">
<head>
    <title>Steam Profiles - Steam Achievement Tracker</title>
    <meta charset="UTF-8">
    <meta name="Description" content = "Track your Steam Achievements.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="steamprofiles.css">
</head>
<body>
    <div class="header">
    <h1>Achievements</h1>
    </div>

    <div class="user-achievements">
        <table id="achievementsTable">
            <tbody>
                <% for(var i=0; i<game.achievements.length; i++) {%>
                    <tr class="achievement">
                        <td>
                            <a href="temp">
                            <% if (game.achievements[i].achieved === true) { %>
                            <img src="<%= achievementData.availableGameStats.achievements[i].icon %>" alt="" height="56" width="56"> 
                            <% } else { %>
                                <img src="<%= achievementData.availableGameStats.achievements[i].icongray %>" alt="" height="56" width="56"> 
                            <% } %>
                             </a>
                        </td>
                        <td>
                            <a class="name" href="temp">
                            <%= game.achievements[i].name %>
                            </a>
                            <br>
                            <%= game.achievements[i].description %>
                        </td>
                        <td>
                            <% if (game.achievements[i].achieved === true) { %>
                            <%= moment.unix(game.achievements[i].unlockTime).format('llll') %>
                            <% } %>
                        </td>
                        <td>
                            <%= achievementData.availableGameStats.achievements[i].percentage %>
                            <br>
                            <%= achievementData.availableGameStats.achievements[i].rarity %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        </div>
        </div>
    </div>
</body>
</html>