<!DOCTYPE html>
<html lang="en">
<head>
    <title>Steam Profiles - Steam Achievement Tracker</title>
    <meta charset="UTF-8">
    <meta name="Description" content = "Track your Steam Achievements.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="profile.css">
</head>

<body>
    <div class="user-header">
        <div class="avatar">
            <img src="<%= profile.avatar %>" alt="" height="70" width="70"> 
        </div>
        <div class="username">
            <span><%= profile.nickname %></span>
        </div>
        <div class="stats">
            <span>Games: <%= profile.Games.length %></span>
            <span>100% Games: <%= profile.completedGames %></span>
            <span>Total Achievements: <%= profile.totalAchievements %></span>
        </div>
    </div>
    <div class="user-games">
        <table id="gamesTable">
            <tbody>
                <% for(var i=0; i<profile.Games.length; i++) {%>
                <tr>
                    <td>
                        <a href="/<%=profile.username%>/achievements/<%=profile.Games[i].gameName.replace(/\s+/g, '-').replace(/\:/g, '').toLowerCase();%>/<%=profile.Games[i].appID%>">
                        <img src="<%= profile.Games[i].logo %>" alt="" height="72" width="184"> 
                         </a>
                    </td>
                    <td>
                        <a class="game" href="/<%=profile.username%>/achievements/<%=profile.Games[i].gameName.replace(/\s+/g, '-').replace(/\:/g, '').toLowerCase();%>/<%=profile.Games[i].appID%>">
                        <%= profile.Games[i].gameName %>
                        </a>
                        <div class="progress">
                            <%= profile.Games[i].progress %>
                        </div>
                        <div class="playtime">
                            <%= profile.Games[i].playTime %>
                        </div> 
                    </td>
                    <td>
                        <div class="progress-bar">
                            <span><%= profile.Games[i].progressPercentage %></span>
                            <div class="bar" style="width: <%= profile.Games[i].progressPercentage %>"></div>
                        </div>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        </div>
        </div>
    </div>
</body>
</html>


     