<!DOCTYPE html>
<html lang="en">
<head>
    <title>Steam Profiles - Steam Achievement Tracker</title>
    <meta charset="UTF-8">
    <meta name="Description" content = "Track your Steam Achievements.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="profile.css">
</head>

<body>
    <div class="user-games">
        <table id="gamesTable">
            <tbody>
                <% for(var i=0; i<gamedata.length; i++) {%>
                <tr>
                    <td>
                        <a href="/achievements?id=<%=[i]%>&app=<%=gamedata[i].appID%>">
                        <img src="<%= gamedata[i].logo %>" alt="" height="72" width="184"> 
                         </a>
                    </td>
                    <td>
                        <a class="game" href="/achievements?id=<%=[i]%>&app=<%=gamedata[i].appID%>">
                        <%= gamedata[i].gameName %>
                        </a>
                        <div class="progress">
                            <%= gamedata[i].progress %>
                        </div>
                    </td>
                    <td>
                        <div class="progress-bar">
                            <span><%= gamedata[i].progressPercentage %></span>
                            <div class="bar" style="width: <%= gamedata[i].progressPercentage %>"></div>
                        </div>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        </div>
        </div>
    </div>
</body>
</html>


     